<?xml version="1.0" encoding="utf-8"?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <IMBA>false</IMBA>
  <global>false</global>
  <needNoTime>false</needNoTime>
  <freeTyp>false</freeTyp>
  <changeRate>false</changeRate>
  <rate>0</rate>
  <changePoison>false</changePoison>
  <poison>
    <int>0</int>
    <int>0</int>
    <int>0</int>
    <int>0</int>
    <int>0</int>
    <int>0</int>
  </poison>
  <神兵>false</神兵>
  <lastWish>false</lastWish>
  <传家宝>false</传家宝>
  <SetWeapon>false</SetWeapon>
  <WeaponMoreDuration>false</WeaponMoreDuration>
  <AttackTypExtend>false</AttackTypExtend>
  <AttackTyp>
    <int>15</int>
    <int>15</int>
    <int>15</int>
    <int>15</int>
    <int>15</int>
    <int>15</int>
  </AttackTyp>
  <WeaponPower0>3</WeaponPower0>
  <WeaponPower1>0</WeaponPower1>
  <WeaponPower2>0</WeaponPower2>
  <WeaponPower3>5</WeaponPower3>
  <WeaponPowerMustBe>false</WeaponPowerMustBe>
  <WeaponEngraving>0</WeaponEngraving>
  <WeaponEngravingMustBe>false</WeaponEngravingMustBe>
  <SetArmor>true</SetArmor>
  <ArmorPower>5</ArmorPower>
  <ArmorPowerMustBe>true</ArmorPowerMustBe>
  <ArmorAttr>6</ArmorAttr>
  <ArmorAttrMustBe>true</ArmorAttrMustBe>
  <SetJewelry>true</SetJewelry>
  <JewelryPowerMustBe>false</JewelryPowerMustBe>
  <JewelryAttr0>1</JewelryAttr0>
  <JewelryAttr1>8</JewelryAttr1>
  <JewelryAttr2>0</JewelryAttr2>
  <JewelryAttrMustBe>true</JewelryAttrMustBe>
  <SetFood>false</SetFood>
  <FoodAttr0>0</FoodAttr0>
  <FoodAttr1>0</FoodAttr1>
  <FoodAttr2>0</FoodAttr2>
  <FoodAttrMustBe>false</FoodAttrMustBe>
  <setMedicine>false</setMedicine>
  <SetEnaled>
    <boolean>false</boolean>
    <boolean>false</boolean>
    <boolean>false</boolean>
    <boolean>false</boolean>
    <boolean>false</boolean>
  </SetEnaled>
</Settings>