<?xml version="1.0" encoding="utf-8"?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <messageImportanceThreshold>0</messageImportanceThreshold>
  <autoHarvestItems>true</autoHarvestItems>
  <autoHarvestActors>true</autoHarvestActors>
  <showNewActorWindow>true</showNewActorWindow>
  <filterNewActorGender>false</filterNewActorGender>
  <newActorGenderFilterAccept>2</newActorGenderFilterAccept>
  <filterNewActorCharm>false</filterNewActorCharm>
  <newActorCharmFilterThreshold>500</newActorCharmFilterThreshold>
  <filterNewActorGoodness>false</filterNewActorGoodness>
  <newActorGoodnessFilters>
    <boolean>true</boolean>
    <boolean>true</boolean>
    <boolean>true</boolean>
    <boolean>true</boolean>
    <boolean>true</boolean>
  </newActorGoodnessFilters>
  <filterNewActorAttr>false</filterNewActorAttr>
  <newActorAttrFilterThreshold>100</newActorAttrFilterThreshold>
  <resMinHolding>3</resMinHolding>
  <resIdealHolding>
    <int>3500</int>
    <int>3500</int>
    <int>3500</int>
    <int>3500</int>
    <int>3500</int>
  </resIdealHolding>
  <resInitIdealHoldingRatio>0.8</resInitIdealHoldingRatio>
  <moneyMinHolding>10000</moneyMinHolding>
  <autoAssignBuildingWorkers>true</autoAssignBuildingWorkers>
  <buildingTypePriorityFactors>
    <item>
      <key>
        <BuildingType>Bedroom</BuildingType>
      </key>
      <value>
        <float>1</float>
      </value>
    </item>
    <item>
      <key>
        <BuildingType>Hospital</BuildingType>
      </key>
      <value>
        <float>1.5</float>
      </value>
    </item>
    <item>
      <key>
        <BuildingType>Recruitment</BuildingType>
      </key>
      <value>
        <float>3.25</float>
      </value>
    </item>
    <item>
      <key>
        <BuildingType>GettingResource</BuildingType>
      </key>
      <value>
        <float>1</float>
      </value>
    </item>
    <item>
      <key>
        <BuildingType>GettingItem</BuildingType>
      </key>
      <value>
        <float>0.75</float>
      </value>
    </item>
    <item>
      <key>
        <BuildingType>GettingCricket</BuildingType>
      </key>
      <value>
        <float>0.5</float>
      </value>
    </item>
    <item>
      <key>
        <BuildingType>Unknown</BuildingType>
      </key>
      <value>
        <float>0.25</float>
      </value>
    </item>
  </buildingTypePriorityFactors>
  <excludedBuildings />
  <exclusionMouseButton>1</exclusionMouseButton>
</Settings>