<?xml version="1.0" encoding="utf-8"?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <numChild>1</numChild>
  <npcUpLimit>false</npcUpLimit>
  <numBuild>4</numBuild>
  <numFavor>4</numFavor>
  <skip>true</skip>
  <unBuildLimit>false</unBuildLimit>
  <unlockAll>false</unlockAll>
  <simpleMake>true</simpleMake>
  <forcechange>false</forcechange>
</Settings>